/****************************** Module Header ******************************\
* Module Name: res.rc
*
* Copyright (c) 2017, Microsoft Corporation
*
* Constants
*
* History:
* 03-20-17      Created.
\***************************************************************************/

#include <windows.h>

#ifndef EXTERNAL_BUILD
#include "ConIoSrv.rcv"
#include <ntverp.h>
#include <common.ver>
#endif
