/****************************** Module Header ******************************\
* Module Name: res.rc
*
* Copyright (c) 1985-91, Microsoft Corporation
*
* Constants
*
* History:
* 08-21-91      Created.
* 09-26-17      copied from the legacy conhost launcher
\***************************************************************************/

#include <windows.h>

#ifndef EXTERNAL_BUILD
#include "conhost.rcv"
#include <ntverp.h>
#include <common.ver>
#endif

IDI_APPICON             ICON    "console.ico"

// Fusion default manifest (needed since we are created w/ RtlCreateUserProcess)
IDR_SYSTEM_MANIFEST     RT_MANIFEST MOVEABLE    PURE    "SystemDefault.man"
